<div class="relative">
  <div class="relative mt-5 bg-gray-50 shadow-sm mb-4 border-2 border-black">
    <div class="text-white p-3 animate-shine" style="background-color: #198754;">
      <h3 class="font-bold text-xl mb-2">{{ product.name }}</h3>
      <p>Price (IDR): {{ product.price }}</p>
    </div>
    <div class="p-3">
      <p class="font-semibold text-lg mb-2">Category</p> 
        <span>{{ product.category }}</span>
      <p class="font-semibold text-lg mb-2">Description</p> 
        <span>{{ product.description }}</span>
      <div class="mt-3">
        <p class="font-semibold text-lg mb-2">Quantity</p> 
        <span>{% if product.quantity == 0 %}
            OUT OF STOCK
          {% else %}
            {{ product.quantity }}
          {% endif %}</span>      
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 right-0 flex mr-2 py-2">
    <a href="{% url 'main:edit_product' product.pk %}" class="btn-warning bg-purple-300 text-white rounded-full p-2 border-2 border-black mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
      </svg>
    </a>
    <a href="{% url 'main:delete_product' product.pk %}" class="bg-red-200 text-white rounded-full p-2 border-2 border-black shadow-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</div>
